* {
  font-size: 10px;
}

#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#body {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

.timeline input[type="range"] {
  width: 100%;
  margin: auto;
}

.timeline input[value="Stop"] {
  display: none;
}

.info {
  margin-top: 15px;
}

.main-info{
  margin-top: 20px;
  margin-left: 15px;
}

.info-wrapper {
  float: left;
}

.info-text {
  width:  150px;
}


.title {
  font-weight: bold;
}

.box-title {
  font-size: 12px;
  font-weight: bold;
}

.clear {
  clear: both;
}