#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#body {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

.timeline input[type="range"] {
  width: 100%;
  margin: auto;
}

.timeline input[value="Stop"] {
  display: none;
}