#map {
  height: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#body {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

#timeline {
  width: 100%;
  margin: auto;
  margin-top: 35px;
}

#play-stop {
  display: none;
}

.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 60px;          
  height: 28px;         
  padding: 2px;       
  font: 12px sans-serif;    
  background: lightsteelblue; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;     
}